html {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}

#academy {
  font-weight: lighter;
}

header {
  display: flex;
  height: 4rem;
  width: 100%;
  padding: 1.5rem;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

ul {
  list-style: none;
  float: right;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 24px;
}

.logo span {
  display: inline-flex;
  align-items: baseline;
  height: 2rem;
}

.logo img {
  height: 2rem;
  width: 70px;
  height: 60px;
}

header nav {
  display: flex;
  padding-right: 24px;
}

nav li {
  display: inline-block;
  padding: 1rem;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
}

.flex-container .side-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-content {
  display: flex;
  flex-direction: row;
}

.image-container {
  padding: 32px 24px;
}

.flex-container.image-container {
  width: 60%;
}

span {
  padding-top: 16px;
  padding-bottom: 12px;
}

h1, h2, h3 {
  font-weight: bold;
}

h1.learn {
  font-size: 2rem;
  font-weight: bold;
}

.side-content.learn {
  margin-left: 24px;
}

.start-here {
  font-size: 25px;
  padding: 18px 22px;
  background-color: brown;
  text-align: center;
  color: white;
  margin: 24px;
}

.information-main h2 {
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 24px;
  padding-bottom: 24px;
}

#emanual {
  padding-top: 40px;
  padding-bottom: 40px;
}

.information-main {
  padding: 32px 24px;
}

span {
  font-weight: bold;
}

.side-content {
  display: flex;
  width: 40%;
}

.side {
  display: flex;
  text-align: left;
}

.side .side-content {
  display: flex;
}

.side-content .side-image {
  display: flex;
  width: 35%;
  height: auto;
  padding: 16px;
}

.courses-section {
  padding: 32px 72px;
  text-align: justify;
  width: 100%;
}

.courses-section h2 {
  text-align: center;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 32px;
}

.courses {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.courses-image {
  padding: 32px 16px;
  display: block;
  align-content: center;
}

img {
  height: auto;
  margin: 32px;
}

.courses-image h3 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
}

.courses-image p {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  font-weight: lighter;
}

#thesis .flex-container {
  text-align: center;
  font-weight: bold;
  padding-top: 32px;
  padding-bottom: 32px;
}

video {
  width: 60%;
}

.side-image {
  height: auto;
  width: 35%;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 32px 24px;
  font-size: 14px;
  font-weight: lighter;
}

footer .left {
  text-align: left;
}

footer .right {
  text-align: right;
}
