html {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}

header {
  display: flex;
  height: 4rem;
  width: 100%;
  padding: 1.5rem;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

ul {
  list-style: none;
  float: right;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 24px;
}

.logo span {
  display: inline-flex;
  align-items: baseline;
  height: 2rem;
}

.logo img {
  height: 2rem;
  width: 70px;
  height: 60px;
}

header nav {
  display: flex;
  padding-right: 24px;
}

nav li {
  display: inline-block;
  padding: 1rem;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
}

.flex-container .side-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-content {
  display: flex;
}

.image-container {
  padding: 32px 24px;
}

.flex-container.image-container {
  width: 60%;
}

h1.learn {
  font-size: 2rem;
  font-weight: bold;
}

.start-here {
  font-size: 25px;
  padding: 10px 16px;
  background-color: brown;
  text-align: center;
  color: white;
}

.information-main h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

span {
  font-weight: bold;
}

.side-content {
  display: flex;
  width: 40%;
}

.side {
  display: flex;
  text-align: left;
}

.side .side-content {
  display: flex;
}

.side-content .side-image {
  display: flex;
  width: 35%;
  height: auto;
  padding: 16px;
}

.courses {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
}
