html {
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
}

header {
  display: flex;
  height: 4rem;
  width: 100%;
  padding: 1.5rem;
}

header ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

ul {
  list-style: none;
  float: right;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 24px;
}

.logo span {
  display: inline-flex;
  align-items: baseline;
  height: 2rem;
}

.logo img {
  height: 2rem;
  width: 70px;
  height: 60px;
}

header nav {
  display: flex;
  padding-right: 24px;
}

nav li {
  display: inline-block;
  padding: 1rem;
}

.flex-container {
  display: flex;
  justify-content: flex-start;
}

.flex-container .side-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.side-content {
  display: flex;
}

.image-container {
  padding: 32px 24px;
}

.flex-container.image-container {
  width: 60%;
}

h1, h2, h3 {
  font-weight: bold;
}

h1.learn {
  font-size: 2rem;
  font-weight: bold;
}

.start-here {
  font-size: 25px;
  padding: 10px 16px;
  background-color: brown;
  text-align: center;
  color: white;
}

.information-main h2 {
  font-size: 1.5rem;
  font-weight: bold;
}

span {
  font-weight: bold;
}

.side-content {
  display: flex;
  width: 40%;
}

.side {
  display: flex;
  text-align: left;
}

.side .side-content {
  display: flex;
}

.side-content .side-image {
  display: flex;
  width: 35%;
  height: auto;
  padding: 16px;
}

.courses-section {
  width: 100%;
  margin: 32px 0;
  padding: 32px 72px;
}

.courses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.courses-image img {
  height: auto;
  padding: 16px;
  margin: 32px;
}

.thesis {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

video {
  width: 60%;
}

video.thesis {
  display: inline-block;
}

.thesis-side {
  width: 40%;
  padding: 16px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 32px 24px;
  font-size: 14px;
  font-weight: lighter;
}

footer .left {
  text-align: left;
}

footer .right {
  text-align: right;
}
